DISCORD_OAUTH_INTERNAL_API_BASE_URL=http://127.0.0.1:8766
TURNIER_INTERNAL_API_TOKEN=
TURNIER_PUBLIC_URL=https://deutsche-deadlock-community.de/turnier
DISCORD_GUILD_ID=1289721245281292288
DISCORD_ADMIN_ROLE_IDS=
DISCORD_MOD_ROLE_IDS=1474210107255554331
JWT_SECRET=
STEAM_BRIDGE_DB_PATH=C:\Users\Nani-Admin\Documents\Deadlock\service\deadlock.sqlite3
BACKEND_HOST=127.0.0.1
BACKEND_ALLOWED_HOSTS=
FRONTEND_URL=https://deutsche-deadlock-community.de/turnier
DISCORD_WEBHOOK_URL=
