DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://turnier.earlysalty.com/auth/discord/callback
DISCORD_GUILD_ID=1289721245281292288
DISCORD_ADMIN_ROLE_IDS=
DISCORD_MOD_ROLE_IDS=1474210107255554331
JWT_SECRET=
STEAM_BRIDGE_DB_PATH=C:\Users\Nani-Admin\Documents\Deadlock\service\deadlock.sqlite3
FRONTEND_URL=https://turnier.earlysalty.com
DISCORD_WEBHOOK_URL=
